@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Regular */
@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Mono (optional) */
@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/CascadiaMono.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Powerline (optional) */
@font-face {
  font-family: "Cascadia Code PL";
  src: url("/fonts/CascadiaCodePL.ttf") format("truetype");
}

/* Apply the font globally */
* {
  font-family: "Cascadia Code", monospace;
}
